<div style="height: 30vh" id="galeria"></div>

<section class="my-5">

  <div class="container">
    <div class="row">
      <div class="col" data-aos="fade-up" data-aos-duration="1500">
        <h1 class="text-white text-center">Galeria</h1>
      </div>
    </div>
  </div>

  <div class="container-box" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="400">
    <div class="box mx-3" *ngFor="let image of images">
      <img src="{{image.path}}" alt="{{image.title}}">
      <span><a href="{{image.spotifyMusic}}" target="_blank" rel="noopener">♫ {{image.title}}</a></span>
    </div>
  </div>

</section>
