@media (max-width: 992px) {
  h1, p {
    color: var(--white);
  }
  .h-after-photos {
    height: 140vh;
  }
}

@media (max-width: 480px) {
  .h-after-photos {
    height: 85vh;
  }
}

@media (min-width: 992px) {
  .d-visible {
    display: none !important;
  }
  .h-after-photos {
    height: 20vh;
  }
}

.container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 400px;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
  line-height: 0;
  border-radius: 30px;
}

.box > img {
  width: 100%;
  height: calc(100% - 5vh);
  object-fit: cover;
  transition: .5s;
}

img {
  border-radius: 30px 0 0 0;
}

.box > span {
  font-size: 2vh;
  display: block;
  text-align: center;
  height: 5vh;
  line-height: 2.2;
  background-color: var(--white);
}

.box:hover {
  flex: 1 1 50%;
}

a {
  color: var(--gray);
}
