:root {
  --primary-dark: #0880c9;
  --primary-medium: #008eff;
  --primary-light: #00a1ff;

  --secondary: #6ac7cd;

  --neutral-80: #253b47;
  --neutral-60: #4e5d66;
  --neutral-05: #f7f7f7;
}

body {
  background-color: var(--neutral-05);
  font-family: "Montserrat", sans-serif;
}

.display {
  font-style: normal;
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 115%;
  letter-spacing: -0.01em;;
  color: var(--neutral-80);
}

.heading {
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 125%;
  letter-spacing: 0px;
  color: var(--neutral-80);
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 175%;
  letter-spacing: 0px;
  color: var(--neutral-60);
}

.text-dark {
  color: var(--neutral-80);
}

.text-neutral {
  color: var(--neutral-60);
}

.text-light {
  color: var(--neutral-05);
}

@media (max-width: 992px) {
  .hide-in-mobile {
    display: none !important;
  }
}
