<section>
  <div class="container d-grid">
    <div class="align-self-center">

      <div class="row">
        <div class="col-md-12 col-lg-6">
          <h1 class="display-3 font-weight-bold" data-aos="fade-up" data-aos-duration="1500">
            Wesley <br> Belizario
          </h1>
          <p data-aos="fade-up" data-aos-duration="1500">
            Olá, sou estudante de <br> Sistemas para Internet - UFSM <br> e desenvolvedor web
          </p>
          <p>
            <a href="#sobre-mim" class="btn scroll"
               data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300" data-aos-offset="-500">
              Sobre mim
            </a>
          </p>
        </div>
        <div class="col-md-12 col-lg-6 d-none-lg text-center" data-aos="fade-up" data-aos-duration="1500">
          <img src="./assets/img/undraw_on_the_office.svg" alt="ilustação de personagem">
        </div>
      </div>

      <div class="row">
        <div class="col d-none-lg"
             data-aos="fade-up" data-aos-duration="1500" data-aos-delay="400" data-aos-offset="-500">
          <a href="https://www.instagram.com/wesleyxbz" target="_blank" rel="noopener">
            <img src="./assets/icon/instagram-g.svg" class="align-text-top mr-2" alt="icon instagram"> Instagram
          </a>
          <span class="mx-3"></span>
          <a href="https://github.com/WesleyxBZ" target="_blank" rel="noopener">
            <img src="./assets/icon/github-g.svg" class="align-text-top mr-2" alt="icon github"> Github
          </a>
        </div>
      </div>

    </div>
  </div>
</section>
