.btn {
  background-color: var(--blue);
  color: var(--white);
  font-weight: 500;
  border-radius: 0.3rem;
}

.btn:hover {
  box-shadow: 0 5px 20px 0 #1e1f4480;
}

@media (max-width: 992px) {
  h1, p {
    color: var(--white);
    text-align: center;
  }
  p {
    margin: auto;
  }
  .btn {
    margin-top: 3vh;
    color: var(--white);
    background-color: transparent;
    border: 2px solid var(--white);
  }
  .btn:hover {
    margin-top: 3vh;
    color: var(--blue);
    background-color: var(--white);
    border-color: transparent;
  }
}

a {
  color: var(--gray);
}

.d-grid {
  height: 90vh;
  display: grid;
}
