/* You can add global styles to this file, and also import other style files */

:root {
  --blue: rgb(0, 142, 255);
  --cyan: rgb(106, 199, 205);
  --light: rgb(249, 250, 250);
  --gray-dark: rgb(70, 70, 70);
}

body {
  background-color: var(--light);
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--gray-dark);
}

@media (max-width: 992px) {
  .d-none-lg {
    display: none !important;
  }
}
